JENKINS_HTTP_PORT=8080
JENKINS_AGENT_PORT=50000
JENKINS_ADMIN_ID=admin
JENKINS_ADMIN_PASSWORD=admin123!
SONARQUBE_HTTP_PORT=9000
SONARQUBE_ADMIN_PASSWORD=admin123!
SONARQUBE_TOKEN_NAME=jenkins-local-token
GRAFANA_ADMIN_USER=admin
GRAFANA_ADMIN_PASSWORD=admin123!
ARGOCD_ADMIN_PASSWORD=admin123!
